<html lang="uk" class="<%=status%> <%= yellow %>">
<head>
    <title>Перемілля чи є світло</title>
    <link rel="icon" href="/favicon.png">
    <link rel="stylesheet" href="/css/reset.css"/>
    <link rel="stylesheet" href="/css/home.css"/>
</head>
<body class="<%= status %>">
    <div class="center" id="state">
        <h1><%= statusText %> <br />
            <span class="since" style="font-size: 20px">З <%= lastChange %></span><br />
            <span style="font-size: 18px"><%= nextEvent %></span>
        </h1>
    </div>
    <script src="/javascripts/ping.js?ver=123"></script>
</body>
</html>